.column-cntr{
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding: 24px;
    padding-top: 0px;
}
.column-cntr > *{
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 32px;
}